<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  <h1>Hello World!</h1>
  
<div>
  <input type="text" value="{{myCount}}" required="required" pattern="" title="">
  
</div>  
  <div class="row">
    
    <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Noice Monitoring</h3>
        </div>
        <div class="panel-body">
          Problematic students
        </div>
    </div>
    
  </div>
  <div class="row">
      
     
      
    <div class="col-xs-6 col-sm-3" style="background-color:lavender;">
      <app-student  studentName="Shaked" studentVolume="5" (change)="countChange($event)"></app-student>
    </div>
    <div class="col-xs-6 col-sm-3" style="background-color:lavenderblush;">
      <app-student studentName="Alex" studentVolume="5"  (change)="countChange($event)"></app-student>
    </div>
    
    <div class="clearfix visible-xs">

    </div>
    <div class="col-xs-6 col-sm-3" style="background-color:lightcyan;">
      <app-student studentName="Din" studentVolume="5"  (change)="countChange($event)"></app-student>    </div>
    <div class="col-xs-6 col-sm-3" style="background-color:lightgray;">
      <app-student studentName="Or" studentVolume="5"  (change)="countChange($event)"></app-student>
    </div>
  </div>
  
</div>

</body>
</html>

