
  div{
    margin: 100%;
  }
  

  label{
      margin: 0;
      color: black;
      font-size: large;
      position: relative;
      top: 50px;

  }

  input{
      position: relative;
      display: block;
      margin-right: auto;
      margin-left: auto;
      width: 50%;
  }


  span{
      font-size: 50px;
  }

  .greenish{
    color: green;
    font-weight: bold;
    font-size: medium;

}