div{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 70px 0;
    text-align: center;
    font-size: medium;
    border-radius: 25px;
    background: #73AD21;
    vertical-align: middle;
    
}